<div class="container">
  <h3>Register</h3>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input 
        [(ngModel)]="user.username"
        name="username"
        type="text"
        class="form-input"
        id="username"
        required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        [(ngModel)]="user.password"
        name="password"
        type="text"
        class="form-input"
        id="password"
        required>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input 
        [(ngModel)]="user.city"
        name="city"
        type="text"
        class="form-input"
        id="city"
        required>
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input 
        [(ngModel)]="user.state"
        name="state"
        type="text"
        class="form-input"
        id="state"
        required>
    </div>
    <div class="form-group">
      <label for="district">District</label>
      <input 
        [(ngModel)]="user.district"
        name="district"
        type="text"
        class="form-input"
        id="district"
        required>
    </div>
    <div class="form-group">
      <label for="adminUser">Is Admin</label>
      <input 
        [(ngModel)]="user.adminUser"
        name="adminUser"
        type="checkbox"
        class="form-input"
        id="adminUser"
        required>
    </div>
    <button type="submit" class="form-btn">Register</button>
  </form>
</div>