<div class="container">
  <h3>Cast your votes!</h3>
  <div *ngFor="let race of races">
    <div class="race-header">
      {{race.state}}
      {{race.city}}
      {{race.type}}
      {{race.district}}
    </div>
    <div *ngFor="let candidate of race.candidates" class="candidate-row">
      <div class="candidate-row">
        <label>
          <input
            type="radio"
            name="{{race._id}}"
            [(ngModel)]="votes[race._id]"
            value="{{candidate._id}}">
            {{candidate.candidate.name}}
        </label>
      </div>
    </div>
    <label>
      <input
        type="radio"
        name="{{race._id}}"
        [(ngModel)]="votes[race._id]"
        value="abstain">
        - No Vote -
    </label>
  </div>
  <button type="button" (click)="onVote()" class="form-btn">Vote!</button>
  <button type="button" (click)="onCancelVote()" class="form-btn">Cancel</button>
</div>