.header-container {
  height: 45px;
  padding: 10px 20px;
  background-image: url('../../../assets/images/blue-flag-bkgd-h.jpg');
}

h1 {
  font-family: 'Prosto One', sans-serif;
  font-size: 3.0em;
  font-weight: 600;
  color: #f4f4ff;
  text-shadow: 2px 2px #a3a3a3;
}