.race-header {
  margin: 12px 0 4px 0;
  padding: 1px 1px 1px 10px;
  background: linear-gradient(to right, #d8d8d8, white);
  font-weight: 900;
}

.candidate-row {
  margin-left: 12px;
}

.candidate-name-text {
  display: inline-block;
  width: 100px;
  margin: 0 4px;
}

.candidate-votes-text {
  display: inline-block;
  text-align: right;
  width: 60px;
  margin: 0 4px;
}

.candidate-votepct-text {
  display: inline-block;
  text-align: right;
  width: 50px;
  margin: 0 4px;
}