.container {
  width: 50%;
  margin: 0 0 0 5%;
}

.nav-bar {
  display: flex;
}

.race-header {
  margin: 12px 0 4px 0;
  padding: 4px;
  background: linear-gradient(to right, #acacad, white);
  font-weight: 900;
}

.candidate-row {
  margin-left: 12px;
}