<div class="container">

  <div *ngIf="currRace._id!=='n/a'" class="race-detail">
    <h3>Race Details</h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="type">Race Type</label>
        <input 
          [(ngModel)]="currRace.type"
          name="type"
          type="text"
          class="form-input"
          id="type"
          required>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input 
          [(ngModel)]="currRace.city"
          name="city"
          type="text"
          class="form-input"
          id="city"
          required>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input 
          [(ngModel)]="currRace.state"
          name="state"
          type="text"
          class="form-input"
          id="state"
          required>
      </div>
      <div class="form-group">
        <label for="district">District</label>
        <input 
          [(ngModel)]="currRace.district"
          name="district"
          type="text"
          class="form-input"
          id="district"
          required>
      </div>
      <div class="form-group candidate-edit-block">
        <label for="candidates">Candidates</label>
        <div *ngFor="let candidate of currRace.candidates">
          {{candidate.candidate.name}}
        </div>
      </div>
      <button type="submit" class="form-btn">Save</button>
      <button type="button" (click)="cancelEdit" class="form-btn">Cancel</button>
    </form>
  </div>

</div>