.race-block {
  width: 50%;
  margin: 10px auto;
  padding: 8px;
  background-color: #ececa3;
  border: 1px solid black;
  border-radius: 8px;
}

.candidate-edit-block {
  display: inline-block;
  width: 90%;
  margin: 10px auto;
  height: auto;
  padding: 2px 8px;
  font-size: 1.2em;
  background-color: #f2f2f7;
  border: 2px solid #716f74;
  border-radius: 6px;
}

.candidate-edit-row {
  margin: 3px 24px;
  font-size: 1.1em;
}

.candidate-edit-block a:hover {
  cursor: pointer;
}

/* font-awesome icons */

.fa-add-candidate {
  margin: 0 8px;
  text-align: right;
  color: #5c835c;
}

.fa-save-candidate {
  margin: 0 8px;
  color: #5c835c;
}

.fa-cancel-candidate {
  margin: 0 8px;
  color: #af5c5c;
}

.fa-clear-candidate {
  font-size: 0.9em;
  margin: 0 8px;
  color: #af5c5c;
}
