<div class="nav-bar">

  <div class="component-nav">
    <a (click)="onSaveRace()" class="nav-text">
      save
    </a>
    <a (click)="onCancelEdit()" class="nav-text">
      cancel
    </a>
  </div>
  
  <div class="spacer-nav">

  </div>
  
  <div class="app-nav">

  </div>
  
</div>

<div class="container">

  <h3>Race Details</h3>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    
    <!-- Race type -->
    <div class="form-group">
      <label for="type">Race Type</label>
      <input 
        [(ngModel)]="currRace.type"
        name="type"
        type="text"
        class="form-input"
        id="type"
        required>
    </div>

    <!-- City -->
    <div class="form-group">
      <label for="city">City</label>
      <input 
        [(ngModel)]="currRace.city"
        name="city"
        type="text"
        class="form-input"
        id="city"
        required>
    </div>

    <!-- State -->
    <div class="form-group">
      <label for="state">State</label>
      <input 
        [(ngModel)]="currRace.state"
        name="state"
        type="text"
        class="form-input"
        id="state"
        required>
    </div>

    <!-- District -->
    <div class="form-group">
      <label for="district">District</label>
      <input 
        [(ngModel)]="currRace.district"
        name="district"
        type="text"
        class="form-input"
        id="district"
        required>
    </div>

    <!-- Race Level -->
    <div class="form-group">
        <label for="racelevel">Race Level</label>
        <input 
          [(ngModel)]="currRace.racelevel"
          name="racelevel"
          type="text"
          class="form-input form-input-short"
          id="racelevel"
          options
          required>
      </div>

    <!-- Race Sort -->
    <div class="form-group">
        <label for="racesort">Race Sort</label>
        <input 
          [(ngModel)]="currRace.racesort"
          name="racesort"
          type="text"
          class="form-input form-input-short"
          id="racesort"
          required>
    </div>

    <!-- Candidates list -->
    <div class="form-group">
      <label for="candidates">Candidates</label>
      <div class="form-group candidate-edit-block">
        <a (click)="onAddCandidate()">        
          <i class="fas fa-plus fa-add-candidate"></i>
        </a>
        <div *ngFor="let candidate of currRace.candidates">
          <div class="candidate-edit-row" id="{{candidate._id}}">
            <span>{{candidate.candidate.name}}</span>
            <a (click)="onDelCandidate($event)">
              <i class="fas fa-times fa-clear-candidate"></i>
            </a>
          </div>
        </div>

        <!-- Add candidate input -->
        <div *ngIf="addingCandidate" class="add-candidate-text">
          <input 
            [(ngModel)]="newCandidateName"
            name="newCandidateName"
            type="text"
            class="form-input"
            id="newCandidateName">
          <a (click)="saveNewCandidate()">
            <i class="fas fa-check fa-save-candidate"></i>
          </a>
          <a (click)="cancelNewCandidate()">
            <i class="fas fa-times fa-cancel-candidate"></i>
          </a>
        </div>
      </div>
    </div>

  </form>

</div>