.race-block {
  width: 50%;
  margin: 20px auto;
}

.race-label {
  width: 100%;
  padding: 0 20px;
  color: black;
  font-weight: 900;
  background: linear-gradient(to right, #c3c4c5, #ffffff);
}

.candidate-row {
  padding: 0 20px;
}