.register-text {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  font-size: 1.1em;
}

a {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--blue-highlight);
}

a:hover {
  cursor: pointer;
}