<div class="container">
  <h3>Log In</h3>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input 
        [(ngModel)]="username"
        name="username"
        type="text"
        class="form-input"
        id="username"
        required>
      <div>{{username}}</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        [(ngModel)]="password"
        name="password"
        type="text"
        class="form-input"
        id="password"
        required>
      <div>{{password}}</div>
    </div>
    <button type="submit" class="form-btn">Login</button>
  </form>
</div>