<div class="nav-bar">

</div>

<div class="container">
  <h1>Log In</h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input 
        [(ngModel)]="username"
        name="username"
        type="text"
        class="form-input"
        id="username"
        required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        [(ngModel)]="password"
        name="password"
        type="text"
        class="form-input"
        id="password"
        required>
    </div>
    <div class="register-text">
      <span>(Not a user?  <a (click)="onRegClick()">Register</a>)</span>
    </div>
    <div class="form-btn-row">
      <button type="submit" class="form-btn">Login</button>
      <button type="button" (click)="onCancelLogin()" class="form-btn">Cancel</button>
    </div>
  </form>
  <div *ngIf="hasVotedBlock">
    <h4>We appreciate the enthusiasm, but ...</h4>
    <h3>Our records show that you've already voted.</h3>
    <p>If you believe that this is in error, please contact your county clerk or local election commission.</p>
  </div>
</div>