.race-block {
  width: 70%;
  margin: 10px auto;
  padding: 4px 12px;
  background-color: #cfcfdb;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1.1em;
}

.candidate-row {
  margin-left: 8px;
}

.race-header-line1 {
  display: flex;
  justify-content: space-between;
}

.race-header-data {
  margin-bottom: 8px;
}

/* font-awesome icons */

.fa-add-race {
  font-size: 0.9em;
  text-align: right;
  color: #5c835c;
}

.fa-edit-race {
  font-size: 0.9em;
  color: #6d6d29;
}

.fa-clear-race {
  font-size: 0.9em;
  margin-left: 4px;
  color: #af5c5c;
}
