* {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

h1 {
  font-family: 'Prosto One', sans-serif;
  font-size: 1.2em;
  color: #31323d;
  font-weight: 900;
}

/* Nav Bar */

.nav-bar {
  width: 100%;
  height: 1.4em;
  margin: 0 0 12px 0;
  padding: 1px 0;
  display: flex;
  background-color: #d8d8d8;
}

.component-nav {
  display: flex;
  flex: 4;
  justify-content: space-around;
}

.spacer-nav {
  display: flex;
  flex: 1;
}

.app-nav {
  display: flex;
  flex: 2;
  justify-content: space-around;
}

.nav-text {
  font-size: 1.0em;
  text-transform: uppercase;
  color: #8d8a99;
  font-weight: 900;
}

.vote-option {
  text-transform: uppercase;
  background-color: yellow;
  color: red;
  font-weight: 900;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.item-selected {
  border-bottom: 3px solid #2927c5;
}

/* Component Container */

.container {
  width: 90%;
  margin: 0 auto;
}

/* Forms - large controls */

form {
  width: 100%;
}

.form-group {
  width: 90%;
  margin: 20px auto;
}

.form-group label {
  display: inline-block;
  width: 80px;
  color: #716f74;
  font-size: 1.2em;
  font-weight: 900;
}

.form-input {
  width: 60%;
  height: 22px;
  padding: 2px 4px;
  font-size: 1.2em;
  background-color: #f2f2f7;
  border: 2px solid #716f74;
  border-radius: 6px;
}

.form-input-short {
  width: 30%;
}

.form-group input[type="checkbox"] {
  width: 22px;
  height: 22px;
  font-size: 1.2em;
}

.form-group input:focus {
  outline: 0;
  border-color: #a19fa3;
}

.form-btn {
  height: 26px;
  font-size: 1.1em;
  font-weight: 900;
  width: 80px;
  border-radius: 4px;
  margin: 8px 4px;
}

.form-btn-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
